*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --Base-color:#f50538;     /*Primary accent (CTA and Hover) */
    --second-color:#22c55e;  /*Succes / active */
    --Bg-color: #0f0f0f;    /* body */
    --text-color:#fff;      /*text-color */
    --light-color:#ffffff;  /*mode-switch*/
    --dark-color:#000000;   /*mode-switch*/
    --border-color:#7f8c8d;  /*border*/
    --nav-bg: #141414;      /*header*/
}
body.dark-mode-switch{
    --light-color:#000000;
    --dark-color:#ffffff;
}
/* Whole body in dark mode */
body.dark-mode-switch header{
    background: var(--dark-color);
    color: var(--light-color);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
/* Whole body in light mode */
body.dark-mode-switch{
    background: var(--dark-color);
    color: var(--light-color);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background: var(--Bg-color);
    color: var(--light-color);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
    width: 100%;
    background: var(--nav-bg);
    top: 0;
    left: 0;
    position: fixed;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}
@keyframes show-content{
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.navbar ul{
    list-style: none;
}
.navbar li{
    display: inline-flex;
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    
}
.navbar ul li a{
    color: var(--light-color);
    transition: all 0.3s ease;
    position: relative;
}
.navbar ul li a:hover{
    color: var(--Base-color);
}
.navbar ul li a::before{
    content: '';
    background: var(--Base-color);
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -10px;
    left: 0;
    transition: all 0.3s ease;
}
.navbar ul li a:hover:before{
    width: 100%;
}
.navbar ul li a.show-active{
    color: var(--Base-color);
}
.logo{
    color: var(--light-color);
    font-size: 45px;
    font-weight: bold;
}
.logo span{
    color: var(--Base-color);
}
.dark-mode{
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--Base-color);
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
}
.dark-mode::before{
    content: '';
    position: absolute;
    background: var(--light-color);
}
.dark-mode i{
   fill: var(--light-color);
}
.dark-mode i:last-child{
    display: none;
}
.dark-mode-switch .dark-mode i:first-child{
    display: none;
}
.dark-mode-switch .dark-mode i:last-child{
    display: block;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: var(--light-color);
    background: url('/MyPortfoliosite/img/image.png')no-repeat center center/cover;
}

@keyframes show-home{
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.home-info{
    visibility: hidden;
    opacity: 0;
    animation: show-home 1.5s linear forwards;
    animation-delay: 1.2s;
}
.home-info h1{
    font-size: 54px;
}
.home-info h2{
    display: inline-block;
    font-size: 32px;
    margin-top: 10px;
}
.home-info h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .8px var(--Base-color);
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text{
    25%,100%{
        display: none;
    }
}
.home-info h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid var(--Base-color);
    color: var(--Base-color);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}
@keyframes fill-text{
    10%,100%{
        width: 0;
    }
     70%, 90%{
        width: 100%;
    }
}
.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
}
.home-info .btn-sci{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background: var(--Base-color);
    border-radius: 10px;
    border: 2px solid var(--Base-color);
    box-shadow: 0 0 10px var(--Base-color);
    color: var(--light-color);
    font-weight: 600;
}
.btn:hover{
    background: transparent;
    color: var(--Base-color);
    box-shadow: none;
}
.home-info .btn-sci .sci{
    margin-left: 30px;
}
.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid var(--Base-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--Base-color);
    margin: 0 8px;
    transition: .4s;
}
.home-info .btn-sci .sci a:hover{
    background: var(--Base-color);
    color: var(--light-color);
    box-shadow: 0 0 10px var(--Base-color);
}
.home-img .img-box{
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    overflow: hidden;
    justify-content: center;
}
.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, var(--Base-color));
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}
.home-img .img-box img{
    border-radius: 50%;
    width: 550px;
    height: 550px;
}
.home-img .img-box::after{
    animation-delay: -5s;
}
@keyframes rotate-border{
    100%{
        transform: rotate(360deg);
    }
}
.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid var(--Base-color);
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}
.home-img .img-box .img-item img{
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
}
.bars-animation{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}
.bars-animation .bar{
    width: 100%;
    height: 100%;
    background: var(--dark-color);
    transform: translateY(-100%);
    animation: show-bars .4s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}
@keyframes show-bars{
    100%{
        transform: translate(0%);
    }
}
.icons{
    font-size: 35px;
    color: var(--light-color);
    cursor: pointer;
    right: 0;
    display: none;
    position: absolute;
}
@media (max-width: 992px) {
    .header{
        padding:  21px 5%;
    }
}
@media (max-width: 768px) {
    .logo{
    font-size: 25px;
   }
    .icons {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: var(--dark-color);
        padding: 20px 0;
        left: 38%;
        border-radius: 25px;
    }

    .navbar.active {
        display: block;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .dark-mode{
        right: 35%;
    }
    .home-info .sci{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px;
        padding: 5px 15px;
    }
}